<section class="featured-section">
    <div class="container">
        <p class="featured-heading">Featured in</p>
        <div class="logos">
            <img src="../../../assets/logos/techcrunch.png" class="logo" alt="Tech Crunch Logo"/>
            <img src="../../../assets/logos/forbes.png" class="logo" alt="forbes Logo"/>
            <img src="../../../assets/logos/the-new-york-times.png" class="logo" alt="New York Times Logo"/>
            <img src="../../../assets/logos/business-insider.png" class="logo" alt="Business Insider Logo"/>
            <img src="../../../assets/logos/usa-today.png" class="logo" alt="USA Today Logo"/>
        </div>
    </div>
</section>
