<section class="cta-section">
  <div class="container grid-cta">
    <div class="cta-form-container">
      <div class="container center-text">
        <p class="heading-secondary heading-form">
          Get your first meal for free!
        </p>
        <p class="cta-heading-text">
          Healthy, tasty and hassle-free meals are waiting for you. Start eating
          well today. You can cancel or pause anytime. And the first meal is on
          us!
        </p>
      </div>
      <form class="cta-form container">
        <div class="cta-input">
          <label for="ctaName" class="cta-label">Name</label>
          <input type="text" id="ctaName" placeholder="Harry Potter" required  (input)="onUpdateName($event)"/>
        </div>
        <div class="cta-input">
          <label for="ctaEmail" class="cta-label">Email</label>
          <input
            type="text"
            id="ctaEmail"
            placeholder="hp@example.com"
            required
          />
        </div>
        <div class="cta-select">
          <label for="ctaSelectWhere" class="cta-label"
            >Where did you here about this?</label
          >
          <select id="ctaSelectWhere" required>
            <option value>Please select one option:</option>
            <option value="friends">Friends and Family</option>
            <option value="youtube">Youtube</option>
            <option value="facebook">Facebook ad</option>
            <option value="podcast">Podcast</option>
            <option value="other">Other</option>
          </select>
        </div>
        <button class="btn btn-signup">Sign up now</button>
      </form>
    </div>
    <div class="cta-img"></div>
  </div>
</section>
