.cta-section {
  padding: 4.8rem 9.6rem 9.6rem 9.6rem;
}

.grid-cta {
  display: grid;
  grid-template-columns: 2fr 1fr;

  background-image: linear-gradient(to right bottom, #eb984e, #e67e22);
  padding: 0;
  border-radius: 0.9rem;
  overflow: hidden;
}
.cta-form-container {
  color: #45260a;
  padding: 6.4rem;
  padding-top: 4.8rem;
}
.heading-form {
  color: inherit;
  margin-bottom: 0;
  padding-bottom: 2.4rem;
}
.cta-img {
  background-image: linear-gradient(
      rgba(235, 150, 76, 0.5),
      rgba(230, 125, 34, 0.5)
    ),
    url("../../../assets/eating.jpg");
  background-size: cover;
  background-position: center;
}
.cta-heading-text {
  font-size: 1.8rem;
  line-height: 1.8;
  color: inherit;
}
.cta-form {
  padding-top: 3.2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4.8rem;
  row-gap: 3.2rem;
}
.cta-input input,
.cta-select select {
  width: 100%;
  border: none;
  font-size: 1.8rem;
  border-radius: 0.9rem;
  padding: 1.2rem;
  color: inherit;
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.11);
}
.cta-form *:focus {
  outline: none;
  box-shadow: 0 0 0 0.4rem rgba(253, 242, 233, 0.5);
}

.cta-input input::placeholder {
  color: #aaa;
}
.cta-label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  padding-bottom: 1.2rem;
}
.btn-signup {
  padding: 1.6rem;
  align-self: end;
  background-color: #45260a;
  color: #fdf2e9;
  border: none;
  font-weight: 600;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.btn-signup:hover {
  background-color: #5c320e;
}
@media (max-width: 65em) {
  .cta-form-container {
    padding: 3.2rem;
  }
}
@media (max-width: 58em) {
  .cta-section {
    padding: 4.8rem;
  }
  .heading-form {
    font-size: 3.6rem;
  }
  .grid-cta {
    grid-template-columns: 3fr 2fr;
  }
  .cta-form {
    grid-template-columns: 1fr;
  }
}
