<app-header-section ></app-header-section>
<!-- <section class="section-hero"> -->
 
    <main>
        <app-hero-page></app-hero-page>
        <app-featured-section></app-featured-section>
        <app-how-section id="how"></app-how-section>
        <app-meal-section id="meal"></app-meal-section>
        <app-testimonial-section id="testimonial"></app-testimonial-section>
   <app-pricing-section id="pricing"></app-pricing-section>
   <app-cta-section id="cta"></app-cta-section>
    </main>
    <app-footer-section></app-footer-section>
<!-- <div class="container"></div> -->
<!-- </section> -->