<header class="header" [ngClass]="{ 'nav-open': mobileNav == true ,'sticky':sticky==true}">
 <a (click)="scrollToView('#')">

   <img src="../../../assets/omnifood-logo.png" alt="Logo" class="logo-image" />
 </a> 
  <nav class="main-nav">
    <ul class="main-nav-list">
      <li><a class="main-nav-item" (click)="scrollToView('how')">How it works</a></li>
      <li><a  class="main-nav-item" (click)="scrollToView('meal')">Meals</a></li>
      <li><a class="main-nav-item" (click)="scrollToView('testimonial')">Testimonials</a></li>
      <li><a  class="main-nav-item" (click)="scrollToView('pricing')">Pricing</a></li>
      <li><a  class="main-nav-item nav-cta" (click)="scrollToView('cta')">Try For Free</a></li>
    </ul>
  </nav>
  <button class="btn-mobile-nav">
    <span
      class="material-symbols-rounded icon-mobile-nav"
      name="menu"
      (click)="openNav()"
    >
      menu
    </span>
    <span
      class="material-symbols-rounded icon-mobile-nav"
      name="close"
      (click)="openNav()"
    >
      close
    </span>
  </button>
</header>
