<header class="header">
    <img src="../../../assets/omnifood-logo.png" alt="Logo" class="logo-image">
<nav class="main-nav">
    <ul class="main-nav-list">
        <li><a href="#" class="main-nav-item">Section 1</a> </li>
        <li><a href="#" class="main-nav-item">Section 2</a> </li>
        <li><a href="#" class="main-nav-item">Section 3</a> </li>
        <li><a href="#" class="main-nav-item">Section 4</a> </li>
        <li><a href="#" class="main-nav-item nav-cta">Section 5</a> </li>
    </ul>
</nav>
</header>