.header {
  background-color: #fae5d3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4.8rem;
  height: 9.6rem;
  position: relative;
}

.main-nav-list {
  display: flex;
  gap: 4.8rem;
  align-items: center;
  list-style: none;
}
.main-nav-item{
  font-size: 1.6rem;
  font-weight: 500;
  color: #333;
  transition: all 0.3s;
  text-decoration: none;
  display: inline-block;
}
.main-nav-item:hover {
  color: #cf711f;
}
.main-nav-item.nav-cta{
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
}
.main-nav-item.nav-cta:hover {
  background-color: #cf711f;
}
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  font-size: 4.8rem;
}
.icon-mobile-nav[name="close"] {
  display: none;
}
span {
  display: block;
}
/*width 1200px*/
@media (max-width: 75em) {
  .header {
    padding: 0 3.2rem;
  }
  .main-nav-list {
    gap: 3.2rem;
  }
}
@media (max-width: 58em) {
  .btn-mobile-nav {
    display: block;
  }
  .main-nav {
    background-color: rgba(255, 255, 255, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;

    transform: translateX(100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: all 0.5s ease-in;
    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */
    /* 1) Hide it visually */
    opacity: 0;
    /* 2) make it inaccessible to mouse and keyboard*/
    pointer-events: none;
    /* 3) Hide it from screen reader*/
    visibility: hidden;
  }
  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }
  .nav-open .btn-mobile-nav .icon-mobile-nav[name="close"] {
    display: block;
    position: relative;
  }
  .nav-open .icon-mobile-nav[name="menu"] {
    display: none;
  }
  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }
  .main-nav-item:link,
  .main-nav-item.nav-cta:visited {
    font-size: 3rem;
  }
}

/*************************
********STICKY************
*************************/
.sticky {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 6.4rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.3);
  background-color: rgba(250, 229, 211, 0.9);
 
}
