<section class="testimonial-section">
  <div class="testimonial-container">
    <span class="subheading">TESTIMONIALS</span>
    <p class="heading-secondary">Once you try it, you can't go back</p>
    <div class="testimonials">
      <figure class="testimonial">
        <div class="img-section">
          <img
            class="testimonial-img"
            src="../../../assets/customers/dave.jpg"
            alt="Dave Bryson"
          />
        </div>
        <div class="text-section">
          <p class="testimonial-author">Dave Bryson</p>
          <blockquote class="testimonial-text">
            Inexpensive, healthy and great-tasting meals, without even having to
            order manually! It feels truly magical.
          </blockquote>
        </div>
      </figure>
      <figure class="testimonial">
        <div class="img-section">
          <img
            class="testimonial-img"
            src="../../../assets/customers/ben.jpg"
            alt="Ben Hadley"
          />
        </div>
        <div class="text-section">
          <p class="testimonial-author">Ben Hadley</p>
          <blockquote class="testimonial-text">
            The AI algorithm is crazy good, it chooses the right meals for me
            every time. It's amazing not to worry about food anymore!
          </blockquote>
        </div>
      </figure>

      <figure class="testimonial">
        <div class="img-section">
          <img
            class="testimonial-img"
            src="../../../assets/customers/steve.jpg"
            alt="Steve Miller"
          />
        </div>
        <div class="text-section">
          <p class="testimonial-author">Steve Miller</p>
          <blockquote class="testimonial-text">
            Omnifood is a life saver! I just started a company, so there's no
            time for cooking. I couldn't live without my daily meals now!
          </blockquote>
        </div>
      </figure>

      <figure class="testimonial">
        <div class="img-section">
          <img
            class="testimonial-img"
            src="../../../assets/customers/hannah.jpg"
            alt="Hannah Smith"
          />
        </div>
        <div class="text-section">
          <p class="testimonial-author">Hannah Smith</p>
          <blockquote class="testimonial-text">
            I got Omnifood for the whole family, and it frees up so much time!
            Plus, everything is organic and vegan and without plastic.
          </blockquote>
        </div>
      </figure>
    </div>
  </div>
  <div class="gallery">
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-1.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-2.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-3.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-4.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-5.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-6.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-7.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-8.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-9.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-10.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-11.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
    <figure class="gallery-img-section">
      <img
        src="../../../assets/gallery/gallery-12.jpg"
        class="gallery-img"
        alt="yummy food"
      />
    </figure>
  </div>
</section>
