<section class="pricing-section">
  <div class="container">
    <span class="subheading">Pricing</span>
    <p class="heading-secondary">Eating well without breaking the bank</p>
  </div>
  <div class="pricings grid grid--2-cols margin-bottom-md">
    <div class="pricing pricing--standard">
      <div class="container">
        <header class="plan-header">
          <span class="subheading plan-name">standard</span>
          <p class="pricing-heading"><span>$</span>399.0</p>
          <p class="pricing-text">per month. That's just $13 per meal!</p>
        </header>
      </div>
      <ul class="lists">
        <li class="list">
          <span class="material-symbols-rounded check-icon"> check </span>
          <span>1 meal per day</span>
        </li>
        <li class="list">
          <span class="material-symbols-rounded check-icon"> check </span>
          <span>Order from 11am to 9pm</span>
        </li>
        <li class="list">
          <span class="material-symbols-rounded check-icon"> check </span>
          <span>Delivery is free</span>
        </li>
        <li class="list">
          <span class="material-symbols-rounded check-icon"> close </span>
          <span>Get access to latest recipes</span>
        </li>
      </ul>
      <div class="btn-cta">
        <a href="#" class="btn btn-primary margin-right-sm btn-cta"
          >Start eating healthy</a
        >
      </div>
    </div>
    <div class="pricing pricing--complete">
      <div class="container">
        <header class="plan-header">
          <span class="subheading plan-name">complete</span>
          <p class="pricing-heading"><span>$</span>649.0</p>
          <p class="pricing-text">per month. That's just $11 per meal!</p>
        </header>
      </div>
      <ul class="lists">
        <li class="list">
          <span class="material-symbols-rounded check-icon"> check </span>
          <span><strong>2 meal</strong> per day</span>
        </li>
        <li class="list">
          <span class="material-symbols-rounded check-icon"> check </span>
          <span>Order <strong>24/7</strong></span>
        </li>
        <li class="list">
          <span class="material-symbols-rounded check-icon"> check </span>
          <span>Delivery is free</span>
        </li>
        <li class="list">
          <span class="material-symbols-rounded check-icon"> check </span>
          <span>Get access to latest recipes</span>
        </li>
      </ul>
      <div class="btn-cta">
        <a href="#" class="btn btn-primary margin-right-sm btn-cta"
          >Start eating healthy</a
        >
      </div>
    </div>
    <!-- <div class="pricing">
    <div class="container">
      <span class="subheading">complete</span>
      <p class="pricing-heading"><span>$</span>649.0</p>
    </div>
  </div> -->
  </div>
  <div class="container grid">
    <aside class="pricing-desc">
      Prices include all applicable taxes. You can cancel at any time.
    </aside>
  </div>
  <div class="container grid grid--4-cols">
    <div class="feature">
      <span class="material-symbols-rounded feature-icon"> cooking </span>
      <div class="feature-text">
        <p class="feature-heading">Never cook again!</p>
        <p class="feature-desc">
          Our subscriptions cover 365 days per year, even including major
          holidays.
        </p>
      </div>
    </div>

    <div class="feature">
      <span class="material-symbols-rounded feature-icon"> compost </span>
      <div class="feature-text">
        <p class="feature-heading">Local and organic</p>
        <p class="feature-desc">
          Our cooks only use local, fresh, and organic products to prepare your
          meals.
        </p>
      </div>
    </div>

    <div class="feature">
      <span class="material-symbols-rounded feature-icon"> delete_forever </span>
      <div class="feature-text">
        <p class="feature-heading">No waste</p>
        <p class="feature-desc">
          All our partners only use reusable containers to package all your
          meals.
        </p>
      </div>
    </div>

    <div class="feature">
      <span class="material-symbols-rounded feature-icon"> pause </span>
      <div class="feature-text">
        <p class="feature-heading">Pause anytime</p>
        <p class="feature-desc">
          Going on vacation? Just pause your subscription, and we refund unused
          days.
        </p>
      </div>
    </div>
  </div>
</section>
