<footer class="foot-section">
  <div class="container grid grid-footer">
    <div class="logo">
      <a href="#" class="footer-logo">
        <img
          src="../../../assets/omnifood-logo.png"
          alt="Logo"
          class="logo-image"
        />
      </a>
      <ul class="social-logos">
        <li>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="social-logo"
              fill="#767676"
              viewBox="0 0 256 256"
            >
              <rect width="256" height="256" fill="none"></rect>
              <circle
                cx="128"
                cy="128"
                r="34"
                fill="none"
                stroke="#767676"
                stroke-width="24"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></circle>
              <rect
                x="32"
                y="32"
                width="192"
                height="192"
                rx="48"
                fill="none"
                stroke="#767676"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="24"
              ></rect>
              <circle cx="180" cy="76" r="16"></circle>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="social-logo"
              fill="#767676"
              viewBox="0 0 256 256"
            >
              <rect width="256" height="256" fill="none"></rect>
              <path
                d="M232,128a104.3,104.3,0,0,1-91.5,103.3,4.1,4.1,0,0,1-4.5-4V152h24a8,8,0,0,0,8-8.5,8.2,8.2,0,0,0-8.3-7.5H136V112a16,16,0,0,1,16-16h16a8,8,0,0,0,8-8.5,8.2,8.2,0,0,0-8.3-7.5H152a32,32,0,0,0-32,32v24H96a8,8,0,0,0-8,8.5,8.2,8.2,0,0,0,8.3,7.5H120v75.3a4,4,0,0,1-4.4,4C62.8,224.9,22,179,24.1,124.1A104,104,0,0,1,232,128Z"
              ></path>
            </svg>
          </a>
        </li>
        <li>
          <a href="#">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="social-logo"
              fill="#767676"
              viewBox="0 0 256 256"
            >
              <rect width="256" height="256" fill="none"></rect>
              <path
                d="M245.7,77.7l-30.2,30.1C209.5,177.7,150.5,232,80,232c-14.5,0-26.5-2.3-35.6-6.8-7.3-3.7-10.3-7.6-11.1-8.8a8,8,0,0,1,3.9-11.9c.2-.1,23.8-9.1,39.1-26.4a108.6,108.6,0,0,1-24.7-24.4c-13.7-18.6-28.2-50.9-19.5-99.1a8.1,8.1,0,0,1,5.5-6.2,8,8,0,0,1,8.1,1.9c.3.4,33.6,33.2,74.3,43.8V88a48.3,48.3,0,0,1,48.6-48,48.2,48.2,0,0,1,41,24H240a8,8,0,0,1,7.4,4.9A8.4,8.4,0,0,1,245.7,77.7Z"
              ></path></svg
          ></a>
        </li>
      </ul>
      <p class="copyright">
        Copyright &copy; 2027 by Omnifood, Inc. All rights reserved.
      </p>
    </div>
    <div class="address-col">
        <p class="col-heading">
            Contact us
        </p>
        <address class="adress-details">
            <p class="address">623 Harrison St., 2nd Floor, San Francisco, CA 94107</p>
        <a href="tel:415-201-6370" class="footer-link">415-201-6370</a>
        <a href="mailto:hello@omnifood.com" class="footer-link">hello@omnifood.com</a> 
        </address>
    </div>
    <div class="cols">
        <p class="col-heading">
            Account
        </p>
        <nav class="nav-footer">

            <ul class="list-footer">
                <li>
                    <a href="#" class="footer-link">Create account</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Sign in</a>
                </li>
                <li>
                    <a href="#" class="footer-link">iOS app</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Android app</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="cols">
        <p class="col-heading">
            Company
        </p>
        <nav class="nav-footer">

            <ul class="list-footer">
                <li>
                    <a href="#" class="footer-link">About Omnifood</a>
                </li>
                <li>
                    <a href="#" class="footer-link">For Business</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Cooking partners</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Careers</a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="cols">
        <p class="col-heading">
            Resources
        </p>
        <nav class="nav-footer">

            <ul class="list-footer">
                <li>
                    <a href="#" class="footer-link">Recipe directory</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Help center</a>
                </li>
                <li>
                    <a href="#" class="footer-link">Privacy & terms</a>
                </li>
            </ul>
        </nav>
    </div>
  </div>
</footer>
