<section class="how-section">
    <div class="container">
        <span class="subheading">How it works</span>
        <p class="heading-secondary">Your daily dose of health in 3 simple steps</p>
    </div>
    <div class="container grid grid--2-cols grid-center-v">
        <!--01 Step-->
        <div class="text-box">
            <p class="step-num">01</p>
            <p class="heading-tertiary">Tell us what you like (and what not)</p>
        <p class="step-desc">
            Never again waste time thinking about what to eat! Omnifood AI will create a 100% personalized weekly meal plan just for you. It makes sure you get all the nutrients and vitamins you need, no matter what diet you follow!
        </p>
        </div>
        <div class="step-img-box">
            <img class="step-img" src="../../../assets/app/app-screen-1.png" alt="meal preference page of app">

        </div>
 
   
        <!--02 Step-->
        <div class="step-img-box">
            <img class="step-img" src="../../../assets/app/app-screen-2.png" alt="select meal page of app">

        </div>
        <div class="text-box">
            <p class="step-num">02</p>
            <p class="heading-tertiary">Approve your weekly meal plan</p>
        <p class="step-desc">
            Once per week, approve the meal plan generated for you by Omnifood AI. You can change ingredients, swap entire meals, or even add your own recipes.    </p>
        </div>
       
        <!--03 Step-->
        <div class="text-box">
            <p class="step-num">03</p>
            <p class="heading-tertiary">Receive meals at convenient time</p>
        <p class="step-desc">
            Best chefs in town will cook your selected meal every day, and we will deliver it to your door whenever works best for you. You can change delivery schedule and address daily!
        </p>
        </div>
        <div class="step-img-box">
            <img class="step-img" src="../../../assets/app/app-screen-1.png" alt="schedule meal page of app">

        </div>
    </div>
</section>