.how-section{
    margin-top: 9.6rem;
}
.subheading{
    display: block;
    text-transform: uppercase;
    font-size: 1.6rem;
    color: #cf711f;
    letter-spacing: 0.75px;
    font-weight: 500;
    line-height: 1.6rem;

}
.step-num{
    font-size: 8.6rem;
    font-weight: 600;
    color: #ddd;
    margin-bottom: 1.2rem;
}
.step-desc{
    font-size: 1.8rem;
    line-height: 1.8;
}
.step-img-box{
display: flex;
align-items: center;
justify-content: center;
position: relative;
}
.step-img-box::before,
.step-img-box::after{
    content: "";
    display: block;
    position: absolute;
    border-radius: 50%;
}
.step-img-box::before{
    width: 60%;
    padding-bottom: 60%;
    background-color: #fae5d3;
    z-index: -2;
   
}
.step-img-box::after{
    width: 45%;
    padding-bottom: 45%;
    background-color: #f8d8bd;
    z-index: -1;
}
.step-img{
    width: 35%;
}