<section class="section-hero">
<div class="hero" >
  <div class="hero-text">
    <p class="heading-primary">A healthy meal delivered to your door, every single day</p>
    <p class="hero-desc">
      The smart 365-days-per-year food subscription that will make you eat
      healthy again. Tailored to your personal tastes and nutritional needs. 
    </p>
    <a href="#" class="btn btn-primary margin-right-sm">Start eating healthy</a>
    <a href="#" class="btn btn-secondary">Learn More &darr;</a>
    <div class="delivered-meals">
        <div class="delivered-imgs">
            <img src="../../../assets/customers/customer-1.jpg" alt="Customer Imager"/>
            <img src="../../../assets/customers/customer-2.jpg" alt="Customer Imager"/>
            <img src="../../../assets/customers/customer-3.jpg" alt="Customer Imager"/>
            <img src="../../../assets/customers/customer-4.jpg" alt="Customer Imager"/>
            <img src="../../../assets/customers/customer-5.jpg" alt="Customer Imager"/>
            <img src="../../../assets/customers/customer-6.jpg" alt="Customer Imager"/>
        </div>
        <p class="delivered-text"><span>250,000+</span> meals delivered last year!</p>
    </div>
  </div>
  <div class="hero-img-box">
    <img class="hero-img" src="../../../assets/hero.png" />
  </div>
</div>
</section>