/* You can add global styles to this file, and also import other style files */
/*
---01 TYPOGRAPHY SYSTEM

--Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

-- Font Weight
Default:400
Medium:500
Bold:700

Line heights
Default: 1
1.01
1.2
1.4



---02 Colors
Primary:#e67e22
Tint: #fae5d3
#f8d8bd
#fdf2e9
Shades: #cf711f
Accents: #37b24d
#fcc419
#82c91e
Grey: #555, #333
#696868

---05 SHADOWS

---06 BORDER-RADIUS
0.9rem
1.1rem

l
---07 WHITESPACE
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

--08 LETTER SPACING
-0.5px
0.75px
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Rubik", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}
.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid--4-cols {
  grid-template-columns: repeat(3, 1fr);
}
.grid-center-v {
  align-items: center;
}
.heading-primary {
  font-size: 5.2rem;
  line-height: 1.01;
  margin-bottom: 3.2rem;
}
.heading-primary,
.heading-secondary,
.heading-tertiary {
  color: #333;
  font-weight: 700;
  letter-spacing: -0.5px;
}
.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}
.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}
.subheading {
  display: block;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #cf711f;
  letter-spacing: 0.75px;
  font-weight: 500;
  line-height: 1.6rem;
}
strong{
  font-weight: 500;
}
.center-text{
  text-align: center;
}
.link:link,.link:visited{
  display: inline-block;
  font-size: 1.8rem;
  color: #e67e22;
  font-weight: 500;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  margin-top: 3.2rem;
  transition: all 0.3s;
}
.link:hover,.link:active{
  color: #cf711f;
  border-bottom: 1px solid transparent;
}
p,span,a,img{
  display: inline-block;
}