<section class="meal-section">
    <div class="container">
        <span class="subheading">Meals</span>
        <p class="heading-secondary ">Omnifood AI chooses from 5,000+ recipes</p>
    </div>
    <div class="container grid grid--3-cols">
        <div class="meals">
            <img src="../../../assets/meals/meal-1.jpg" class="meal-img" alt="Japanese Gyozas"/>
            <span class="veg"></span>
            <p class="meal-title "> Japanese Gyozas</p>
            <ul class="meal-attributes">
                <li class="meal-attribute">650 Calories</li>
                <li class="meal-attribute">Nutriscore&reg; 74</li>
                <li class="meal-attribute">4.9 Ratings(537)</li>
               
            </ul>
        </div>
        <div class="meals">Meal</div>
        <div class="List of deatils">List</div>
    </div>
</section>