
.meal-section {
  margin: 9.6rem 0;
}

.meals {
  border-radius: 1.1rem;
  box-shadow: 0 2rem 3rem 0 rgba(0, 0, 0, 0.05);
  /* margin: 9.6rem 0; */
  overflow: hidden;
  transition: all 1s
}
.meals:hover{
    transform: translateY(-1rem);
}
.meal-img {
  width: 100%;
  /* border-radius: 10%; */
  margin-bottom: 1rem;
}
.meal-content {
  padding: 2rem 2rem 3.2rem 2rem;
}
.tags {
  display: flex;
  gap: 0.3rem;
}
.tag {
  text-transform: uppercase;
  font-weight: 500;
  color: #333;
  border-radius: 10rem;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.tag--veg {
  background-color: #37b24d;
}
.tag--vegan {
  background-color: #82c91e;
}
.tag--paleo {
  background-color: #fcc419;
}
.meal-title {
  /* position: relative; */
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 3.2rem;
  color: #333;
  padding:0 3.2rem;
}
.veg {
  display: block;
  position: relative;
}
.veg::before,
.veg::after {
  content: "";
  position: absolute;

  width: 1.6rem;
  height: 1.6rem;
  left: 2%;
}
.veg::before {
  border: 2px solid #37b24d;
}
.veg::after {
  background-color: #37b24d;
  border-radius: 50%;
  transform: translate(11%, 12%);
}

.meal-attributes {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.meal-attribute {
  font-size: 1.6rem;
  color: #555;
  display: flex;
  align-items: center;
  gap: 1rem;
  /* justify-content: center; */
}
.material-symbols-rounded {
  color: #cf711f;
  
}
.star {
    font-size: 2rem;
  font-variation-settings: "FILL" 1;
}

.lists{
    list-style: none;
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}
.list{
    display: flex;
    align-items: center;
    gap: 0.8rem;
}
.check-icon{
    font-size: 2.4rem;
}